* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: futura;
}
@font-face{
	font-family: futura;
	src: url(..fonts/'futura.woff2');
}

header{
	width: 100%;
	background-color: #648fc9;
}

section{
	padding: 200px 0;
}

footer{
	background-color: #628bcb;
	padding: 20px 0 0 0;
}

.flex{
	display: flex;
    justify-content: space-between;
}

.page-container{
	max-width: 1150px;
	margin:0 auto;
}

.header-logo{
	background-color: #fff;
	padding: 20px;
	width: 280px;
}
.page-container h2{
	font-size: 50px;
    margin: 60px 0 20px 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.3;
}

header p{
    margin: 30px 0 0 20px;
    font-size: 28px;
    color: #fff;
    letter-spacing: 2.0;
    font-weight: 100;
}

.header-celular{
	transform: translate(-22px,63px);
	animation-name: celularAnimacao;
	animation-duration: 2s;
}

@keyframes celularAnimacao {
	 0% { opacity: 0;}
     100% { opacity: 1;) }
}

.header-celular img:nth-child(2){
	position: absolute;
    top: 140px;
    right: -30px;
    animation-name: coracaoAnimacao;
    animation-duration:4s;
}
@keyframes coracaoAnimacao{
	0% {top:70px; right: -15px;}
    100% {top: 140px; right: -30px;}
}

.page-container .text-section p:nth-child(1){
	color: #4872ae;
    font-size: 25px;
    line-height: 37px;
    font-weight: 500;
    margin: 0 0 70px 20px;
}

.page-container .text-section p:not(:first-child){
	color:#5f5f5f;
	font-size:23px;
	margin: 0 0 50px 20px;
}
.page-container .text-section p:nth-child(3){
	font-weight: bold;
}

.page-container .sociais-download{
	width: 300px;
    background-color: #fff2f3;
    height: 410px;
    padding: 70px 40px;
}

.page-container .sociais-download h3{
	font-size: 40px;
    font-weight: 500;
    color: #40413f;
    margin-bottom: 40px;
    line-height: 1.0;
}

.page-container .sociais-download img{
	margin-bottom: 10px;
}

.page-container .text-section{
	width: 675px;
}

.ongs-footer{
	width: 400px;
	padding: 50px;
	text-align: center;
	background-color: #fff2f3;
	transform: translate(20px, -60px);
}

footer .ongs-footer img:nth-child(1){
	margin-right: 40px;
}

.redes-socias {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    width: 151px;
}

footer .flex{
	align-items: center;
}
footer .page-container {
    margin: 0 auto;
    max-width: 1150px;
}
.socias-images{
	display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
 }

.circle-redesocias{
	background-color:#e30e23;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: all .3s ease;
 
}

.circle-redesocias:hover{
	transform: scale(1.1);
}

.link-color{
	color: #fff;
}

.infooter{
	background-color: #ccc;
	padding: 30px 0;
}

.lista-infooter{
	list-style-type: none;
	text-transform: uppercase;
}

.lista-infooter li a:hover{
	text-decoration: underline;
}

.lista-infooter li a {
	color: #5f5f5f;
    text-decoration: none;
    font-size: 12px;
}

.textos-infooter{
    color: #5f5f5f;
    font-size: 12px;
    width: 406px;
    position: relative;
    margin-right: 44px;
}

.logos-infooter{
	display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.logos-infooter img:nth-child(1){
	width: 136px;
	margin-bottom: 20px;
}
.infooter .page-container{
	align-items: flex-start;
	padding: 0 25px;
}

.textos-infooter::before{
	content: '';
	height: 100%;
	width: 2px;
	display: inline-block;
	background-color: #5f5f5f;
	position: absolute;
	left: -20px;
}

.textos-selos{
	display: flex;
}

@media screen and (max-width: 1200px){
	header .page-container{
		max-width: 850px;
	}
	.header-logo {
    	padding: 10px;
    	width: 280px;
	}
    .page-container h2 {
    	font-size: 35px;
	}
	section .page-container{
		max-width: 850px;
   		margin: 0 auto;
	}
	header p {
    	font-size: 20px;
	}
	.page-container .text-section {
    	width: 465px;
	}
	.ongs-footer {
    	width: 310px;
    	padding: 50px 20px;
	}
	footer .page-container{
		max-width: 850px;
		margin:0 auto;
	}
	.socias-images{
		justify-content: space-around;
	}
}

@media screen and (max-width: 910px){
	header .page-container{
		max-width: 500px;
	}
	.header-logo{
		width: 150px;
	}
	.header-logo a img {
		width: 130px;
	}
	.page-container h2 {
    	font-size: 23px;
	}
	header p {
    	font-size: 14px;
	}
	.header-celular img{
    	transform: translate(-21px,6px);
	}
	.header-celular img:nth-child(1){
		width: 160px;
	}
	.header-celular img {
    	transform: translateY(-26px);
	}
	.header-celular img:nth-child(2){
		width: 211px;
		top: 90px;
    	right: -30px;
	}

	section{
		max-width: 500px;
    	margin: 0 auto;
    	text-align: center;
    	padding: 150px 0;
	}
	section .page-container {
		display: block;
	}
	.text-section,
	.sociais-download{
		margin: 0 auto;
	}
	.page-container .text-section p:nth-child(1) {
    	font-size: 23px;
    }

    .page-container .text-section p:not(:first-child) {
    	font-size: 20px;
    }
    .page-container .sociais-download{
    	width: 250px;
    	height: 340px;
    	padding: 50px 40px;
    }
    .page-container .sociais-download h3 {
    	font-size: 30px;
    }
    .page-container .sociais-download img {
   	 width: 140px;
	}
	footer .page-container{
		display: block;
	}
	.ongs-footer {
    	width: 250px;
    	padding: 50px 20px;
    	margin: 0 auto;
    	transform: translate(2px, -61px);
	}
	footer .ongs-footer img:nth-child(1) {
    	width: 100px;
	}
	footer .ongs-footer img:nth-child(2) {
		width: 60px;
	}
	.socias-images{
    	display: flex;
    	align-items: center;
   	 	max-width: 540px;
    	margin: 0 auto;
    	justify-content: space-evenly;
   		padding: 0 0 30px 0;
	}
	.socias-images img{
		width:200px;
	}

	.infooter .page-container{
		display: block;
    	max-width: 600px;
    }
    .lista-infooter{
    	margin-bottom: 40px;
    	text-align: center;
    }
    .textos-selos {
    	display: flex;
    	align-items: center;
	}
	.textos-infooter::before {
    	left: 374px;
	}

}

@media screen and (max-width:580px){

}